Flask==3.1
ultralytics==8.3.56
rembg==2.0.61
pillow==10.4.0
onnxruntime==1.20.1
fasttext-wheel
langchain==0.3.13
langchain-google-genai==2.0.7
langchain-community==0.3.13
langchain-experimental==0.3.4
langchain-nvidia-ai-endpoints==0.3.7
langgraph==0.2.60
faiss-cpu==1.9.0.post1
python-dotenv==1.0.1
rank_bm25==0.2.2
PyPDF2==3.0.1
duckduckgo-search==7.1.1
semantic-router==0.0.72
google-generativeai==0.8.3
tensorflow==2.17.1